body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  background: grey;
  height: 80px;
  align-items: center;
}
header nav a{
  justify-content: space-between;
  color: #000;
  text-decoration: none;
  margin: 0 0 0 10px;
}

/* footer */
footer nav a {
  justify-content: space-between;
  color: #000;
  text-decoration: none;
  margin: 0 0 0 10px;
}
